.container{
    margin: 80px 100px 0px 100px;
    border: 2px solid gray;
    padding: 10px 20px 10px 20px;
}
.color{
    color: rgba(255,0,0,0.7);
}
.img-control
{
    width: 236px;
    filter: grayscale(1);
    float: right;
    margin-right: 100px;
}
.p-control{
    line-height: 0.6;
    font-size: 20px;
}
.head{
    text-align: center;
    font-style: oblique;
    font-size: 45px;
}
.size{
    font-size: 20px;
}
hr{
    border-top: 8px solid #000;
    border-radius: 15px;
}